.Button {
    padding: 10px 15px;
}

.clear {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.black {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #FFF 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:focus {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        box-shadow: rgb(0 0 0 / 12.5%) 0 3px 5px inset;
        outline: 0;
    }

    &:not([disabled]):active {
        box-shadow: #FFF 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
    }


}

@media (width >=768px) {
    .black {
        padding: 12px 50px;
    }
}

.outline {
    background-color: #FFF;
    border: 1px solid rgb(209 213 219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: inherit "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;

    &:hover {
        background-color: rgb(249 250 251);
    }

    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    &:focus-visible {
        box-shadow: none;
    }
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m)
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l)
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl)
}