.Button {
	padding: 10px 15px;
}

.clear {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.black {
	display: inline-block;
	box-sizing: border-box;
	margin: 0 5px 10px 0;
	padding: 12px 40px;
	overflow: visible;
	color: #FFF;
	font-weight: 400;
	font-size: 14px;
	font-family: inherit, Arial, sans-serif;
	line-height: 20px;
	white-space: nowrap;
	text-align: center;
	text-transform: none;
	vertical-align: middle;
	background-color: #000;
	background-image: none;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow:
		#FFF 4px 4px 0 0,
		#000 4px 4px 0 1px;
	cursor: pointer;
	appearance: button;
	user-select: none;
	touch-action: manipulation;

	&:focus {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}

	&:active {
		outline: 0;
		box-shadow: rgb(0 0 0 / 12.5%) 0 3px 5px inset;
	}

	&:not([disabled]):active {
		box-shadow:
			#FFF 2px 2px 0 0,
			#000 2px 2px 0 1px;
		transform: translate(2px, 2px);
	}
}

@media (width >=768px) {
	.black {
		padding: 12px 50px;
	}
}

.outline {
	box-sizing: border-box;
	padding: 0.75rem 1rem;
	color: #111827;
	font-weight: 600;
	font-size: 0.875rem;
	font-family:
		inherit 'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';
	line-height: 1.25rem;
	text-align: center;
	text-decoration: none #D1D5DB solid;
	background-color: #FFF;
	border: 1px solid rgb(209 213 219);
	border-radius: 0.5rem;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	text-decoration-thickness: auto;

	&:hover {
		background-color: rgb(249 250 251);
	}

	&:focus {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	&:focus-visible {
		box-shadow: none;
	}
}

.background {
	color: var(--primary-color);
	background: var(--bg-color);
	border: none;
}

.backgroundInverted {
	color: var(--inverted-primary-color);
	background: var(--inverted-bg-color);
	border: none;
}

.square {
	padding: 0;
}

.square.size_m {
	width: var(--font-line-m);
	height: var(--font-line-m);
	font: var(--font-m);
}

.square.size_l {
	width: var(--font-line-l);
	height: var(--font-line-l);
	font: var(--font-l);
}

.square.size_xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
	font: var(--font-xl);
}
