.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    transition: 0.3s;
    background-color: var(--inverted-bg-color);

}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}



.collapsedBnt {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--secondary-color);
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 0.2s opasity;
        width: 0;
    }

    .item {
        justify-content: center;
    }
}