.Sidebar {
	position: relative;
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	background-color: var(--inverted-bg-color);
	transition: 0.3s;
}

.item {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.icon {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-left: 10px;
	fill: var(--secondary-color);
}

.switchers {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.lang {
	margin-left: 20px;
}

.collapsedBnt {
	position: absolute;
	right: -32px;
	bottom: 32px;
}

.items {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}



.link {
	margin-left: 10px;
	opacity: 1;
}



.collapsed {
	width: var(--sidebar-width-collapsed);

	.switchers {
		flex-direction: column;
	}

	.lang {
		margin-left: 0;
	}

	.link {
		width: 0;
		opacity: 0;
		transition: 0.2s opasity;
	}

	.item {
		justify-content: center;
	}
}