.app.dark {
	--bg-color: #243133;
	--inverted-bg-color: #fbfbfe;

	--primary-color: #ffffff;
	--secondary-color: #8cabd9;

	--inverted-primary-color: #121212;
	--inverted-secondary-color: rgb(69, 122, 201);
}
