.app.normal {
    --bg-color: #FBFBFE;
    --inverted-bg-color: #243133;
    --primary-color: #121212;
    --secondary-color: rgb(69 122 201);
    --inverted-primary-color: #FFF;
    --inverted-secondary-color: #46689C;
}
